$ColorBlindModes: ("None", "Protanopia", "Deuteranopia",
 "Tritanopia", "Achromatopsia", "Protanomaly", "Deuteranomaly",
  "Tritanomaly", "Achromatomaly");

$ColorBlindDark: ("None": #292929, "Protanopia": #292929, "Deuteranopia": #292929,
 "Tritanopia": #282929, "Achromatopsia": #292929, "Protanomaly": #292929, "Deuteranomaly": #292929,
  "Tritanomaly": #292929, "Achromatomaly": #292929);
$ColorBlindLight: ("None": #F3E8EE, "Protanopia": #EEEEEC, "Deuteranopia": #EEEFEC,
"Tritanopia": #F2EBEB, "Achromatopsia": #EBEBEB, "Protanomaly": #F0EBED, "Deuteranomaly": #F0EAED,
 "Tritanomaly": #F2E9EC, "Achromatomaly": #EFEAEC);
 $ColorBlindButton: ("None": #475B63, "Protanopia": #4F4F61, "Deuteranopia": #4E4D60,
 "Tritanopia": #485F5F, "Achromatopsia": #555555, "Protanomaly": #4A5462, "Deuteranomaly": #4B5561,
  "Tritanomaly": #475D61, "Achromatomaly":  #4F585B);

$dark: #292929;
$button: #475B63;
$light: #F3E8EE;
$lightGray: #BCBCBC;


@mixin style-header($headerFontSize) {
  #root {
    .header-static {
      background-color: transparent;
      width: 100%;
    }

    .header-moving {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1000;
      width: 100vw;
      background-color: $dark;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      // padding: $headerFontSize 15vw $headerFontSize*0.75 5vw;
      padding: $headerFontSize 0 $headerFontSize*0.75 0;
      margin-bottom: 3vw;

      .logo {
        display: flex;
        flex-wrap: nowrap;
        flex-shrink: 0;
        margin-left: $headerFontSize * 3;
        position: relative;
        // top: $headerFontSize * 0.25;
        cursor: pointer;

        .title, .capital {
          font-size: $headerFontSize * 3;
          color: $light;

          display: none;
        }

        .title {
          font-family: 'Agrandir';

          .capital {
            font-family: 'Agrandir-Bold';
            color: $light;
          }
        }

        .img {
          // background-image: url(../assets/images/logo-book.png);
          // background-repeat: no-repeat;
          // background-size: contain;
          // margin-left: $headerFontSize * 0.5;
          // width: $headerFontSize * 7.5;
          // height: $headerFontSize * 4.5;

          background-image: url('../assets/images/logo.png');
          background-repeat: no-repeat;
          background-size: contain;
          // margin-left: $headerFontSize * 3;
          width: $headerFontSize * 15.5;
          height: $headerFontSize * 5.5;
        }
      }

      .nav {
        display: flex;
        flex-wrap: nowrap;
        flex-shrink: 0;
        margin-right: 5vw;
        position: relative;
        top: $headerFontSize * 0.25;

        .btn {
          font-family: 'Garet';
          font-size: $headerFontSize * 0.95;
          color: $light;
          box-shadow: 0vw 0vh 0.6vw 0.4vw #000000b7;
          background-color: rgba($button, 0.5);
          border: 0.2vw $dark outset;
          border-radius: 0.5vw;
          outline: none;
          margin: 0 1.5vw;
          padding: ($headerFontSize * 0.75) ($headerFontSize * 3);
          // padding: ($headerFontSize * 0.6) ($headerFontSize * 2);
          cursor: pointer;

          i {
            color: $light;
            font-size: $headerFontSize * 1.15;
            margin-left: $headerFontSize * 0.5;
            position: relative;
            top: $headerFontSize * 0.105;
          }

          &:hover {
            background-color: $lightGray;
            color: $button;
          }
        }
        
        // .btn {
        //   font-family: 'Garet';
        //   font-size: $headerFontSize * 1.15;
        //   color: $light;
        //   background-color: $button;
        //   border: none;
        //   outline: none;
        //   margin: 0 1.5vw;
        //   padding: ($headerFontSize * 0.75) ($headerFontSize * 3);
        //   cursor: pointer;

        //   i {
        //     color: $light;
        //     font-size: $headerFontSize * 1.15;
        //     margin-left: $headerFontSize * 0.5;
        //     position: relative;
        //     top: $headerFontSize * 0.105;
        //   }

        //   &:hover {
        //     background-color: $lightGray;
        //     color: $button;
        //   }
        // }
      }

      .btn-settings {
        &.btn-round {
          display: none;
        }
      }
    }
    .header-static {
      height: $headerFontSize * 6.5;
      margin-bottom: 3vh;
    }
  }

  @media (max-width: 1368px) and (min-height:1100px) {
    body {
      #root {
        .header-moving {
          flex-direction: column;
          .logo {
            margin: 0;
          }
          .nav {
            margin: 0;
          }
        }
        .header-static {
          height: $headerFontSize * 9.5;
        }
      }
    }
  }

  @media (max-width: 1368px) and (max-height:1099px) {
    body {
      #root {
        .header-moving {
          padding: 0;
          // padding: 0 15vw 0 5vw;
          height: $headerFontSize * 7.5;
          flex-direction: row;
          justify-content: center;
          .nav {
            margin-top: $headerFontSize * 1.5;

            .btn {
              display: none;
            }

            .logo {
              position: relative;
              left: -2vw;
            }
          }

          .btn-settings {
            &.btn-round {
              display: initial;
              position: fixed;
              bottom: $headerFontSize * 2.5;
              right: $headerFontSize * 2.5;
              padding: $headerFontSize * 0.55 $headerFontSize * 0.625;
              // background: $button;
              box-shadow: 0vw 0vh 0.6vw 0.4vw #000000b7;
              background-color: rgba($button, 0.5);
              border: 0.2vw $dark outset;
              border-radius: 50%;
              border: none;
              cursor: pointer;

              &:hover {
                background-color: $light;
                i {
                  color: $button;
                }
              }

              i {
                color: $light;
                font-size: $headerFontSize * 1.5;
                position: relative;
                top: $headerFontSize * 0.1;
              }
            }
          }
        }
        .header-static {
          height: $headerFontSize * 7.5;
        }
      }
    }
  }
}

// Implementation
@include style-header(24px);

@media (min-width: 1921px) {
  @include style-header(30px);
}

@each $mode in $ColorBlindModes {
  body {
    &.#{$mode} {
      $dark: map-get($ColorBlindDark, $mode);
      $button: map-get($ColorBlindButton, $mode);
      $light: map-get($ColorBlindLight, $mode);

      #root {
        .header-static {
          background-color: transparent;
        }

        .header-moving {
          background-color: $dark;

          .logo {
            .title, .capital {
              color: $light;
            }

            .title {
              .capital {
                color: $light;
              }
            }
          }

          .nav {
            .btn {
              color: $light;
              background-color: $button;

              i {
                color: $light;
              }

              &:hover {
                background-color: $lightGray;
                color: $button;
              }
            }
          }

          .btn-settings {
            &.btn-round {
              background: $button;
              &:hover {
                background-color: $light;
                i {
                  color: $button;
                }
              }
            }
          }

        }
      }
    }
  }
}

// Mobile view
@media (max-width: 900px) {
  $headerFontSize: 18px;
  body {
    #root {
      .header-moving {
        padding: 0;

        .logo {
          margin: 0;
          .title, .capital {
            font-size: $headerFontSize * 5;
          }
        }

        .nav {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          flex-shrink: 0;
          align-items: center;
          justify-content: space-evenly;
          margin: 0;

          .btn {
            display: none;
          }
        }

        .btn-settings {
          &.btn-round {
            display: initial;
            position: fixed;
            bottom: $headerFontSize * 2.5;
            right: $headerFontSize * 2.5;
            padding: $headerFontSize * 0.55 $headerFontSize * 0.625;
            // background: $button;
            box-shadow: 0vw 0vh 0.6vw 0.4vw #000000b7;
            background-color: rgba($button, 0.5);
            border: 0.2vw $dark outset;
            border-radius: 50%;
            border: none;
            cursor: pointer;

            &:hover {
              background-color: $light;
              i {
                color: $button;
              }
            }

            i {
              color: $light;
              font-size: $headerFontSize * 2.5;
            }
          }
        }
      }

      .header-static {
        height: $headerFontSize * 5;
      }

    }
  }
}

@media (max-width: 550px) {
  $headerFontSize: 12px;
  body {
    #root {
      .header-moving {

        .logo {
          .title, .capital {
            font-size: $headerFontSize * 5;
          }
        }

        .nav {
          margin: 0;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          flex-shrink: 0;
          justify-content: space-evenly;

          .btn {
            font-size: $headerFontSize * 2;
            margin: $headerFontSize 0;
          }
        }

        .btn-settings {
          &.btn-round {
            padding: $headerFontSize * 1.5 * 0.55 $headerFontSize * 1.5 * 0.625;
            bottom: $headerFontSize * 2;
            right: $headerFontSize;
            i{
              position: relative;
              top: $headerFontSize * 0.25;
              font-size: $headerFontSize * 3.5;
            }
          }
        }

      }

      .header-static {
        height: $headerFontSize * 10.5;
      }
    }
  }
}

@media (max-width: 450px) {
  $headerFontSize: 12px;
  body {
    #root {
      .header-moving {
        height: 10%;
        .logo {
          margin: 0;
          // .title, .capital {
          //   font-size: $headerFontSize * 5;
          // }
          .img {
            width: $headerFontSize * 14.5;
            height: $headerFontSize * 5.5;
          }
        }

        .nav {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          flex-shrink: 0;
          justify-content: space-evenly;

          .btn {
            font-size: $headerFontSize * 2;
            margin: 1.5vh 0;
          }
        }
      }

      .header-static {
        height: $headerFontSize * 2.5;
      }
    }
  }
}