$ColorBlindModes: ("None", "Protanopia", "Deuteranopia",
 "Tritanopia", "Achromatopsia", "Protanomaly", "Deuteranomaly",
  "Tritanomaly", "Achromatomaly");

$ColorBlindDark: ("None": #292929, "Protanopia": #292929, "Deuteranopia": #292929,
 "Tritanopia": #282929, "Achromatopsia": #292929, "Protanomaly": #292929, "Deuteranomaly": #292929,
  "Tritanomaly": #292929, "Achromatomaly": #292929);
$ColorBlindLight: ("None": #F3E8EE, "Protanopia": #EEEEEC, "Deuteranopia": #EEEFEC,
"Tritanopia": #F2EBEB, "Achromatopsia": #EBEBEB, "Protanomaly": #F0EBED, "Deuteranomaly": #F0EAED,
 "Tritanomaly": #F2E9EC, "Achromatomaly": #EFEAEC);
 $ColorBlindButton: ("None": #475B63, "Protanopia": #4F4F61, "Deuteranopia": #4E4D60,
 "Tritanopia": #485F5F, "Achromatopsia": #555555, "Protanomaly": #4A5462, "Deuteranomaly": #4B5561,
  "Tritanomaly": #475D61, "Achromatomaly":  #4F585B);


$dark: #292929;
$button: #475B63;
$light: #F3E8EE;
$lightGray: #BCBCBC;

* {
  font-family: 'Garet';
  color: $dark;
  font-size: 24px;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

body {
  // background-image: url(../../assets/images/gray\ vector.jpeg);
  background-size: cover;
  background-attachment: fixed;
}

#root {
  background: linear-gradient(45deg, rgba($button, 0.75) 30%,  rgba($dark, 1) 100%);
  background-attachment: fixed;

  width: 100%;
  height: 100%;
  min-height: 100vh;
}

@each $mode in $ColorBlindModes {
  $dark: map-get($ColorBlindDark, $mode);
  $button: map-get($ColorBlindButton, $mode);
  $light: map-get($ColorBlindLight, $mode);
  $lightGray: #BCBCBC;

  body {
    &.#{$mode} {
      >* {
        color: $dark;
      }

      #root {
        background: linear-gradient(45deg, rgba($button, 0.75) 30%,  rgba($dark, 1) 100%);
      }
    }
  }
}
