$ColorBlindModes: ("None", "Protanopia", "Deuteranopia",
 "Tritanopia", "Achromatopsia", "Protanomaly", "Deuteranomaly",
  "Tritanomaly", "Achromatomaly");

$ColorBlindDark: ("None": #292929, "Protanopia": #292929, "Deuteranopia": #292929,
 "Tritanopia": #282929, "Achromatopsia": #292929, "Protanomaly": #292929, "Deuteranomaly": #292929,
  "Tritanomaly": #292929, "Achromatomaly": #292929);
$ColorBlindLight: ("None": #F3E8EE, "Protanopia": #EEEEEC, "Deuteranopia": #EEEFEC,
"Tritanopia": #F2EBEB, "Achromatopsia": #EBEBEB, "Protanomaly": #F0EBED, "Deuteranomaly": #F0EAED,
 "Tritanomaly": #F2E9EC, "Achromatomaly": #EFEAEC);
 $ColorBlindButton: ("None": #475B63, "Protanopia": #4F4F61, "Deuteranopia": #4E4D60,
 "Tritanopia": #485F5F, "Achromatopsia": #555555, "Protanomaly": #4A5462, "Deuteranomaly": #4B5561,
  "Tritanomaly": #475D61, "Achromatomaly":  #4F585B);


$dark: #292929;
$button: #475B63;
$light: #F3E8EE;
$darkGray: #4f4f4f;


@mixin style-collections($collectionsFontSize) {
  #root {
    .collections, .reader-section {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;

      .search-form {
        position: fixed;
        max-width: 1080px * 0.33;
        height: 65vh;
        margin: $collectionsFontSize $collectionsFontSize * 1.3;
        padding: $collectionsFontSize $collectionsFontSize * 1.6;
        background-color: rgba($dark, 0.8);

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        label {
          font-size: $collectionsFontSize * 1.2;
          color: $light;
          padding-left: $collectionsFontSize;
        }
        input, select {
          font-size: $collectionsFontSize * 1.2;
          color: $button;
          padding: $collectionsFontSize * 0.2 $collectionsFontSize;
          margin: 0 $collectionsFontSize $collectionsFontSize 0;

          &:focus {
            outline: $dark 2px solid;
          }
        }

        select {
          max-width: 80%;
        }

        #search-submit {
          width: 50%;
          font-size: $collectionsFontSize * 1.2;
          padding: $collectionsFontSize * 0.3 0;
          margin: $collectionsFontSize * 2 0;
          color: $button;
          position: relative;
          right: -50%;
          outline: none;
          cursor: pointer;

          &:hover {
            background-color: $dark;
            color: $light;

            i {
              color: $light;
            }
          }

          i {
            transform: scaleX(-1);
            margin-left:  $collectionsFontSize * 0.25;
          }
        }
      }

      .collection-section-wrap {
        margin-left:  $collectionsFontSize * 20;
        width: 70vw;
        flex-grow: 1;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;

        .collection-section {
          width: 100%;
          display: flex;
          flex-wrap: nowrap;
          flex-direction: column;

          .title {
            align-self: flex-end;
            width: 45%;
            font-size: $collectionsFontSize * 1.65;
            color: white;
            border-bottom: double 5px $light;
            padding: $collectionsFontSize * 0.15 $collectionsFontSize * 6;
            padding-right: 0;
            margin-left: $collectionsFontSize * 18;

            &::before {
              content: '';
              display: inline-block;
              width: $collectionsFontSize * 0.6;
              height: $collectionsFontSize * 0.6;
              position: relative;
              left: -$collectionsFontSize * (6 + 1);
              top: $collectionsFontSize * 1.35;
              border: double 5px $light;
            }
          }

          .book-cards-wrap {
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;
            flex-shrink: 0;
            padding:  $collectionsFontSize * 1.5;
            padding-left: 0;

            .book-card {
              width: $collectionsFontSize * 10;
              height: $collectionsFontSize * 13;
              margin: 2.5%;
              background-image: url(../assets/images/book-cover.webp);
              background-size: cover;
              background-repeat: repeat-y;
              box-shadow: 8px 7px 0px 1px #000000b7;
              cursor: pointer;

              border-radius: 0 0 1vw 1vw;

              display: flex;
              flex-direction: column;
              justify-content: flex-end;

              .book-meta {
                height: 35%;

                background-color: rgba($darkGray, 0.8);
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                padding: $collectionsFontSize * 0.25 0;
                border-radius: 0 0 0.75vw 0.75vw;
                position: relative;

                .meta-text-wrap {
                  padding: 0 $collectionsFontSize * 0.25;
                  width: 100%;
                  height: 78%;
                  // margin-bottom: $collectionsFontSize;
                  overflow-y: scroll;
                  /* Width */
                  &::-webkit-scrollbar {
                    width: 1vw;
                    height: 90%;
                  }

                  /* Track */
                  &::-webkit-scrollbar-track {
                    box-shadow: inset 0 0 5px grey;
                    border-radius: 0.2vw 0.2vw 0 0;
                  }

                  /* Handle */
                  &::-webkit-scrollbar-thumb {
                    background: $dark;
                    border-radius: 0.2vw 0.2vw 0 0;
                  }


                  >* {
                    font-size: $collectionsFontSize * 0.75;
                    color: $light;
                    font-style: italic;

                    &.book-title {
                      font-style: normal;
                    }
                  }
                }

                .book-btn {
                  width: 100%;
                  height: 26%;
                  font-size: $collectionsFontSize * 0.75;
                  margin-top: 1%;
                  background-color: $button;
                  color: $light;
                  font-style: normal;
                  border: none;
                  border-radius: 0 0 0.55vw 0.55vw;
                  z-index: 1;

                  &:hover {
                    background-color: $dark;
                    color: $light;
                  }
                }
              }

              position: relative;
              &:hover {
                &:before {
                  font-family: "Font Awesome 5 Free";
                  font-weight: 900;
                  text-align: center;
                  line-height: 5;
                  content: '\f518';
                  font-size: $collectionsFontSize * 2;
                  color: $light;
                  background: rgba(0, 0, 0, 0.524);
                  display: inline-block;
                  width: 100%;
                  height: 100%;
                  border-radius: 0 0 0.55vw 0.55vw;
                  position: absolute;

                }
              }
            }
          }
        }

        visibility: visible;
        &.loading {
          visibility: hidden;
          position: relative;

          &::before{
            visibility: visible;
            content: '';
            position: absolute;
            top: 15vh;
            // bottom: 0;
            left: 0;
            right: 0;

            border: 0.075vw solid white;
            border-top: rgb(50, 50, 50) 0.3vw solid; /* Blue */
            box-shadow: 0 0 0.8vw 0.3vw rgba(0, 0, 0, 0.799), inset 0 0 0 0.125vw $button;
            border-radius: 50%;
            width: 10vw;
            height: 10vw;
            margin: auto;
            animation: spin 1s linear infinite;

            @keyframes spin {
              0% { transform: rotate(0deg); }
              100% { transform: rotate(360deg); }
            }
          }
        }
      }
    }
  }
}

@include style-collections(24px);

@media (min-width: 1921px) {
  body {
    @include style-collections(30px);
    #root {
      .collections, .reader-section {
        form.search-form {
          height: 100%;
          margin-bottom: 5%;
          overflow-y: auto;

          /* Width */
          &::-webkit-scrollbar {
            width: 1.2vw;
          }

          /* Track */
          &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px grey;
            border-radius: 0;
          }

          /* Handle */
          &::-webkit-scrollbar-thumb {
            background: $dark;
            border-radius: 0;
          }

          #search-submit {
            margin-bottom: 5%;
          }
        }
      }
    }
  }
}

@each $mode in $ColorBlindModes {
  $dark: map-get($ColorBlindDark, $mode);
  $button: map-get($ColorBlindButton, $mode);
  $light: map-get($ColorBlindLight, $mode);
  $lightGray: #BCBCBC;

  body {
    &.#{$mode} {
      #root {
        .collections, .reader-section {
          .search-form {
            background-color: rgba($dark, 0.8);
            label {
              color: $light;
            }
            input, select {
              color: $button;
              &:focus {
                outline: $dark 2px solid;
              }
            }

            #search-submit {
              color: $button;

              &:hover {
                background-color: $dark;
                color: $light;

                i {
                  color: $light;
                }
              }
            }
          }

          .collection-section-wrap {
            .collection-section {
              .title {
                color: $light;

                &::before {
                  border: double 5px $light;
                }
              }

              .book-cards-wrap {
                .book-card {

                  .book-meta {
                    background-color: $darkGray;
                    >* {
                      color: $light;
                    }

                    .book-btn {
                      background-color: $button;
                      color: $light;

                      &:hover {
                        background-color: $dark;
                        color: $light;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}


@media (max-width: 1368px) {
  body {
    #root {
      .collections {
        .collection-section-wrap {
          .collection-section {
            .title {
              font-size: 34px;
              width: 70%;
              padding: 5px 24px 5px 24 * 3px;
              margin-left: 0;

              &::before {
                visibility: hidden;
              }
            }

            .book-cards-wrap {
              justify-content: center;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1120px) {
  body {
    #root {
      .collections {
        .collection-section-wrap {
          margin-left:  24px * 15;
          .collection-section {
            .title {
              padding-left: 24px;
              width: 65%;
              text-align: center;
            }

            .book-cards-wrap {
              margin-left: 24px * 8;
              align-items: center;
              .book-card {
                width: 24px * 13;
                height: 24px * 16;
                // flex-basis: 100%;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-height: 1000px) {
  body {
    #root {
      .collections {
        .search-form {
          padding: 24px;
          overflow-y: auto;
          height: 50vh;
          border-radius: 0 1vw 1vw 0;

          /* Width */
          &::-webkit-scrollbar {
            width: 1.2vw;
          }

          /* Track */
          &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px grey;
            border-radius: 1vw;
          }

          /* Handle */
          &::-webkit-scrollbar-thumb {
            background: $dark;
            border-radius: 1vw;
          }

          label {
            display: none;
          }

          #search-submit {
            margin-top: 0;
          }
        }
      }
    }
  }
}

@media (min-height: 1120px) {
  body {
    #root {
      .collections {
        .search-form {
          height: 65vh;
        }
      }
    }
  }
}

// Mobile view
@media (max-width: 900px) {
  body {
    @include style-collections(26px);
    #root {
      .collections {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex-shrink: 0;

        .search-form {
          position: initial;
          max-width: 100%;
          width: 100%;
          margin: 0;
          padding: 0;
          padding-top: 50px;
          border-radius: 0;
          height: 100%;

          input, select {
            max-width: 80%;
            // margin: 0;
            margin: 2vh 4vw;
          }

          label {
            display: initial;
          }

          #search-submit {
            align-self: center;
            justify-self: center;
            position: initial;
          }
        }

        .collection-section-wrap {
          width: 100%;
          margin: 0;
          justify-content: center;

          .collection-section {

            .title {
              width: 100%;
              margin: 2.5vh 0 0 0;
              padding: 0;
            }

            .book-cards-wrap {
              width: 100%;
              margin: 0;
              padding: 0;
              justify-content: center;
              .book-card {
                // flex-basis: 100%;

              }
            }
          }
        }
      }

      .header-static {
        margin: 0;
      }
    }
  }
}
