$ColorBlindModes: ("None", "Protanopia", "Deuteranopia",
 "Tritanopia", "Achromatopsia", "Protanomaly", "Deuteranomaly",
  "Tritanomaly", "Achromatomaly");

$ColorBlindDark: ("None": #292929, "Protanopia": #292929, "Deuteranopia": #292929,
 "Tritanopia": #282929, "Achromatopsia": #292929, "Protanomaly": #292929, "Deuteranomaly": #292929,
  "Tritanomaly": #292929, "Achromatomaly": #292929);
$ColorBlindLight: ("None": #F3E8EE, "Protanopia": #EEEEEC, "Deuteranopia": #EEEFEC,
"Tritanopia": #F2EBEB, "Achromatopsia": #EBEBEB, "Protanomaly": #F0EBED, "Deuteranomaly": #F0EAED,
 "Tritanomaly": #F2E9EC, "Achromatomaly": #EFEAEC);
 $ColorBlindButton: ("None": #475B63, "Protanopia": #4F4F61, "Deuteranopia": #4E4D60,
 "Tritanopia": #485F5F, "Achromatopsia": #555555, "Protanomaly": #4A5462, "Deuteranomaly": #4B5561,
  "Tritanomaly": #475D61, "Achromatomaly":  #4F585B);

$dark: #292929;
$button: #475B63;
$light: #F3E8EE;

@mixin style-main($loginFontSize) {
  #root {
    .login-section {
      display: flex;

      // Hero
      .hero {
        background-color: $dark;
        // background-image: url(../assets/images/bubbles.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.8;
        border-right: 2px solid black;
        position: fixed;
        width: 33vw;
        height: 100vh;
      }

      .login-wrap {
        margin: 3vw;
        margin-left: 36vw;
        width: 66vw;

        // Logo
        .logo-wrap {
          display: flex;
          align-items: center;
          flex-wrap: nowrap;
          flex-shrink: 0;
          margin-top: 1.5vh;

          .logo-text {
            display: flex;
            flex-direction: column;

            .title, .capital {
              font-size: 4.6 * $loginFontSize;
              color: $light;
              font-family: 'Agrandir';
            }

            .title {
              height: 4.3 * $loginFontSize;
              .capital {
                font-family: 'Agrandir-Bold';
              }
            }

            .subtitle {
              font-size: 1.5 * $loginFontSize;
              text-align: right;
            }
          }

          .img {
            flex-shrink: 0;
            margin-left: 0.75 * $loginFontSize;
            background-image: url(../assets/images/logo-book.png);
            background-size: contain;
            background-repeat: no-repeat;
            width: 11 * $loginFontSize;
            height: 6 * $loginFontSize;
          }
        }

        // Login form
        .login-form {
          margin-top: 6vh;
          .welcome-msg {
            font-size: 1.75 * $loginFontSize;
            color: $light;
            margin-top: 5vh;
          }

          .input-wrap {
            display: flex;
            width: 75%;
            margin: 6.5vh 1.5 * $loginFontSize;
            background-color: $light;
            border: 1px solid $dark;

            &:nth-child(2) {
              margin-top: 8vh;
            }

            .icon {
              font-size: 2 * $loginFontSize;
              color: $light;
              padding: 1 * $loginFontSize;
              margin: 0;
              background-color: $dark;

              &:hover {
                background-color: $button;
              }

            }
            input {
              width: 100%;
              background: none;
              border: none;
              font-size: 1.35 * $loginFontSize;
              padding: 0.55 * $loginFontSize 0.3 * $loginFontSize;
              padding-right: 30%;

              &:focus {
                outline: $dark 2px solid;
              }
            }
          }

          .authentication-btns {
            margin-top: 8vh;
            display: flex;
            flex-wrap: wrap;
            flex-grow: 1;
            justify-content: space-around;

            #login-submit, #register-submit {
              flex-wrap: wrap;
              flex-basis: 40%;
              // position: relative;
              // left: calc(100% - 35vw);
              font-size: 1.5 * $loginFontSize;
              color: $light;
              background-color: $dark;
              outline: none;
              border: none;
              padding: (0.9 * $loginFontSize) 0;
              width: 30vw;
              cursor: pointer;

              &:hover {
                background-color: $button;
              }
            }
          }
        }
      }
    }
  }
}

@each $mode in $ColorBlindModes {
  $dark: map-get($ColorBlindDark, $mode);
  $button: map-get($ColorBlindButton, $mode);
  $light: map-get($ColorBlindLight, $mode);

  body {
    &.#{$mode} {
      #root {
        .login-section {
          // Hero
          .hero {
            background-color: $dark;
          }
          .login-wrap {
            // Logo
            .logo-wrap {

              .logo-text {
                .title, .capital {
                  color: $light;
                }
              }
            }

            // Login form
            .login-form {
              .welcome-msg {
                color: $light;
              }

              .input-wrap {
                background-color: $light;
                border: 1px solid $dark;

                .icon {
                  color: $light;

                  &:hover {
                    background-color: $button;
                  }

                }
                input {
                  &:focus {
                    outline: $dark 2px solid;
                  }
                }
              }

              .authentication-btns {
                #login-submit {
                  color: $light;
                  background-color: $dark;

                  &:hover {
                    background-color: $button;
                  }
                }
              }

            }
          }
        }
      }
    }
  }
}

body {
  @include style-main(24px);
}

@media (min-width: 1921px) {
  body {
    @include style-main(30px);
  }
}

// Mobile view
@media (max-width: 980px) {
  body {
    @include style-main(13px);
    // position: fixed;
    overflow-x: hidden;
    #root {
      width: 100vw;
      .login-section {
        width: 100%;
        flex-direction: column;
        align-items: center;

        .hero {
          position: initial;
          width: 100%;
          height: 15vh;
        }

        .login-wrap {
          margin: 3vw;
          width: 100%;

          .logo-wrap {
            justify-content: center;
          }

          .login-form {
            text-align: center;

            .input-wrap {
              width: 90%;
              input {
                font-size: 18px;
              };
              // &:nth-child(2) {
              //   width: 85%;
              // }
            }
            .authentication-btns {
              #login-submit {
                font-size: 22px;
                position: initial;
                width: 80%;
              }
            }

          }
        }
      }
    }
  }
}
